@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#HourBox::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}
#Container::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.sun_cloud svg path:nth-of-type(1) {
  fill: white;
}

.sun_cloud svg path:nth-of-type(2) {
  fill: rgb(250, 204, 21);
}

.sliderBg {
  -webkit-appearance: none;
  height: 0.4rem;
  width: 7rem;
  border-radius: 5rem;
  background: rgba(0, 0, 0, 0.2);
}
.sliderBg::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.slider {
  -webkit-appearance: none;
  height: 0.4rem;
  width: 7rem;
  border-radius: 5rem;
  background: linear-gradient(
    to right,
    rgb(37, 21, 56) 0%,
    rgb(43, 23, 70) 1%,
    rgb(49, 26, 84) 2%,
    rgb(54, 28, 98) 3%,
    rgb(60, 31, 112) 4%,
    rgb(66, 33, 126) 5%,
    rgb(71, 42, 142) 6%,
    rgb(75, 51, 159) 7%,
    rgb(80, 60, 175) 8%,
    rgb(80, 64, 180) 9%,
    rgb(80, 68, 186) 10%,
    rgb(81, 71, 191) 11%,
    rgb(81, 75, 196) 12%,
    rgb(81, 79, 201) 13%,
    rgb(81, 83, 207) 14%,
    rgb(82, 86, 212) 15%,
    rgb(82, 90, 217) 16%,
    rgb(82, 90, 216) 17%,
    rgb(83, 91, 215) 18%,
    rgb(83, 91, 214) 19%,
    rgb(83, 91, 213) 20%,
    rgb(84, 92, 212) 21%,
    rgb(84, 92, 211) 22%,
    rgb(84, 92, 210) 23%,
    rgb(81, 94, 214) 24%,
    rgb(78, 97, 218) 25%,
    rgb(75, 99, 221) 26%,
    rgb(72, 101, 225) 27%,
    rgb(69, 103, 229) 28%,
    rgb(66, 106, 233) 29%,
    rgb(63, 108, 236) 30%,
    rgb(60, 110, 240) 31%,
    rgb(57, 111, 241) 32%,
    rgb(53, 112, 243) 33%,
    rgb(50, 113, 244) 34%,
    rgb(47, 114, 245) 35%,
    rgb(43, 114, 246) 36%,
    rgb(40, 115, 248) 37%,
    rgb(36, 116, 249) 38%,
    rgb(33, 117, 250) 39%,
    rgb(34, 122, 251) 40%,
    rgb(35, 127, 252) 41%,
    rgb(36, 131, 252) 42%,
    rgb(37, 136, 253) 43%,
    rgb(38, 141, 254) 44%,
    rgb(39, 145, 254) 45%,
    rgb(40, 150, 255) 46%,
    rgb(46, 156, 254) 47%,
    rgb(53, 163, 253) 48%,
    rgb(59, 169, 251) 49%,
    rgb(65, 175, 250) 50%,
    rgb(71, 181, 249) 51%,
    rgb(78, 188, 248) 52%,
    rgb(84, 194, 246) 53%,
    rgb(90, 200, 245) 54%,
    rgb(91, 201, 242) 55%,
    rgb(92, 202, 239) 56%,
    rgb(93, 203, 236) 57%,
    rgb(94, 204, 233) 58%,
    rgb(95, 205, 230) 59%,
    rgb(96, 206, 227) 60%,
    rgb(97, 207, 224) 61%,
    rgb(97, 208, 222) 62%,
    rgb(112, 208, 207) 63%,
    rgb(127, 208, 193) 64%,
    rgb(141, 209, 178) 65%,
    rgb(156, 209, 163) 66%,
    rgb(171, 209, 149) 67%,
    rgb(186, 209, 134) 68%,
    rgb(200, 209, 119) 69%,
    rgb(215, 210, 105) 70%,
    rgb(230, 210, 90) 71%,
    rgb(232, 202, 83) 72%,
    rgb(235, 194, 76) 73%,
    rgb(237, 186, 70) 74%,
    rgb(239, 178, 63) 75%,
    rgb(241, 170, 56) 76%,
    rgb(244, 163, 49) 77%,
    rgb(246, 155, 42) 78%,
    rgb(248, 147, 35) 79%,
    rgb(250, 138, 29) 80%,
    rgb(253, 131, 22) 81%,
    rgb(255, 123, 15) 82%,
    rgb(249, 117, 20) 83%,
    rgb(243, 112, 26) 84%,
    rgb(238, 106, 31) 85%,
    rgb(232, 101, 37) 86%,
    rgb(226, 95, 42) 87%,
    rgb(220, 83, 48) 88%,
    rgb(214, 70, 53) 89%,
    rgb(195, 57, 44) 90%,
    rgb(176, 45, 36) 91%,
    rgb(158, 32, 27) 92%,
    rgb(139, 20, 19) 93%,
    rgb(120, 7, 10) 94%,
    rgb(120, 6, 8) 95%,
    rgb(120, 5, 7) 96%,
    rgb(120, 4, 5) 97%,
    rgb(120, 2, 3) 98%,
    rgb(120, 1, 2) 99%,
    rgb(120, 0, 0) 100%
  );
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.4rem;
  height: 0.4rem;
  background-color: white;
  border: 0.12rem solid transparent; /* Remove default border */
  border-radius: 50%; /* Make it circular */
}

.UV-slider {
  -webkit-appearance: none;
  width: 93%;
  height: 0.4rem;
  border-radius: 5rem;
  background: linear-gradient(
    to right,
    rgb(60, 210, 85) 0%,
    rgb(255, 210, 10) 25%,
    rgb(255, 155, 15) 45%,
    rgb(255, 100, 60) 55%,
    rgb(255, 66, 90) 75%,
    rgb(200, 85, 225) 100%
  );
}

.UV-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0.4rem;
  height: 0.4rem;
  background: white;
  border-radius: 50%;
  border: 0.15rem solid transparent;
}
